.main_form
  .main_header
    .left_header
      .group
        = @group.name
      %ul.member_list 
        %li.member
          Member:
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "edit__btn" do
      .edit Edit
  .messageField
    = render @messages
    .messageBox
      .messageBox__inf 
        .messageBox__inf__name masa
        .messageBox__inf__date 2020/11/4(Wed) 12:00:00
    .message おはよう!




  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      = f.text_field :content, class: 'format', placeholder: 'type a message'
      = f.label :image, class: 'input-box__image' do
        = icon('far', 'image', class: 'image')
        = f.file_field :image, class: 'img'
      = f.submit 'Send', class: 'btn'

