.side
  .side__header
    .side__box
      %p.side_name 
        = current_user.name
      %ul.side_setting
        %li.setting
          = link_to "#", class: "setting__btn" do
            = icon('far','edit')
        %li.cog
          = link_to edit_user_path(current_user), class: "cog__btn" do
            = icon('fas','cog')
    
  .grouplist
    .grouplist__box
      .grouplist__box__name techcamp
      .grouplist__box__message まだメッセージはありません。


-# /.side
-#   /.side__header
-#     /.side__box
-#       /%p.side_name masa
-#       /%ul.side_setting
-#         /%li.setting
-#         /= link_to "#", class: "setting__btn" do
-#           /= icon('far','edit')
-#         /%span<>
-#         /%li.cog
-#         /= link_to "#", class: "cog__btn" do
          -# /= icon('fas','cog')