.side
  .side__header
    .side__box
      %p.side_name 
        = current_user.name
      %ul.side_setting
        %li.setting
          = link_to new_group_path, class: "setting__btn" do
            = icon('far','edit')
        %li.cog
          = link_to edit_user_path(current_user), class: "cog__btn" do
            = icon('fas','cog')
    
  .grouplist
    - current_user.groups.each do | group | 
      .grouplist__box
        =link_to "#" , class:"group_link" do
          .grouplist__box__name
            = group.name
          .grouplist__box__message まだメッセージはありません。


